@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Play:wght@400;700&display=swap");
html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
    font-size: 3.335vmin;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Play", "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #292929;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

.font-alegreya {
  font-family: "Alegreya Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background-color: whitesmoke;
  height: 100vh;
  min-height: 40.625rem;
  color: #292929;
  padding: 1.5rem 0 3.125rem;
  position: relative;
}
.hero:after {
  content: url("../img/decor/rectangle_1.png");
  position: absolute;
  bottom: -1.5625rem;
  right: 23%;
}
@media screen and (max-width: 768px) {
  .hero:after {
    right: 10%;
  }
}
@media screen and (max-width: 480px) {
  .hero:after {
    right: 10%;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 62.5rem;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    min-height: 50rem;
  }
}

.hero__container {
  height: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  background: url("../img/decor/beats.png") right center/52% auto no-repeat;
  background-position-x: 95%;
  background-position-y: 68%;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__title-section {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section:before {
    content: "";
    background: url("../img/decor/beats.png") center center/contain no-repeat;
    width: 20rem;
    height: 20rem;
    margin-bottom: 3.75rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    -webkit-box-flex: 0.98;
        -ms-flex: 0.98;
            flex: 0.98;
  }
  .hero__title-section:before {
    width: 20.3125rem;
    height: 20.3125rem;
    margin-bottom: 3.125rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icon-section {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hero__icon-section {
    display: none;
  }
}

.hero__main-title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    font-size: 3.1875rem;
    margin-bottom: 0.3125rem;
    padding: 0 7%;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2rem;
    margin-bottom: 0.875rem;
    padding: 0 8%;
  }
}

.hero__title-desc {
  padding-right: 15%;
  font-weight: normal;
  font-size: 1.3125rem;
  margin-bottom: 2.1875rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 28%;
    margin-bottom: 1.25rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    font-family: "Play", sans-serif;
    font-size: 1.125rem;
    line-height: 20px;
    padding: 0 8%;
    margin-bottom: 1.6875rem;
    max-width: 395px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 1.625rem;
}

/*.phone-number .header__phone-number {
  @include tablets {
    display: none;
  }
}*/
.header__phone-number {
  margin-top: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .header__phone-number {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .header__phone-number {
    display: none;
  }
}

.logo {
  margin-right: 2.3125rem;
  display: block;
  z-index: 16;
  left: 0;
}
@media screen and (max-width: 768px) {
  .logo {
    position: fixed;
    left: 3%;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    position: fixed;
    left: 3%;
  }
}
.logo__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #E01F3D;
}

.menu {
  margin: 0 1.875rem 0 0;
  padding-top: 0.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .menu {
    z-index: 15;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #F5F5F5;
    min-height: 5.625rem;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .menu {
    z-index: 15;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #F5F5F5;
    min-height: 5.625rem;
    width: 100%;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  margin-right: 1.6875rem;
  margin-bottom: 0.625rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: 1.125rem;
  text-decoration: none;
  display: block;
  margin-left: auto;
}
@media screen and (max-width: 480px) {
  .phone-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.phone-number__icon {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.375rem;
  fill: #292929;
}

.phone-number__text {
  white-space: nowrap;
}

.hamburger {
  position: absolute;
  display: none;
  right: 3%;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.hamburger-icon {
  width: 1.875rem;
  height: 1.875rem;
}
@media screen and (max-width: 768px) {
  .hamburger {
    position: fixed;
    right: 0;
  }
}
@media screen and (max-width: 480px) {
  .hamburger {
    position: fixed;
    right: 0;
  }
}

.hamburger-btn {
  border: none;
  background: transparent;
}

.overlay {
  height: 100%;
  width: 100%;
  background: #333537;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.overlay__active {
  left: 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 0.5rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  height: 2.5625rem;
  width: 2.5625rem;
  margin-right: 0.875rem;
  fill: #292929;
}

.feature__text {
  font-size: 1rem;
  line-height: 18px;
  max-width: 6.875rem;
}

.btn {
  font-weight: bold;
  font-size: 1rem;
  color: #FFFFFF;
  background: #E01F3D;
  padding: 1.125rem 2.5625rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  line-height: 1;
  border-radius: 6.25rem;
  outline: none;
  cursor: pointer;
  display: inline-block;
}
.btn:hover {
  background: #CA1B36;
  color: #FFFFFF;
  border-radius: 6.25rem;
}
.btn-reset {
  color: #FFFFFF;
  background: transparent;
  text-transform: none;
  font-weight: normal;
  border: none;
  padding: 1.125rem 1.125rem;
  margin-left: 1.125rem;
}
.btn-reset:hover {
  border: none;
  background: none;
  color: #E01F3D;
}

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .section {
    min-height: 62.5rem;
  }
}
@media screen and (max-width: 480px) {
  .section {
    min-height: 50rem;
  }
}

.section__title {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 1.5625rem;
  text-align: center;
  text-transform: uppercase;
}
.section__title-white {
  margin-bottom: 3.3125rem;
}
@media screen and (max-width: 768px) {
  .section__title {
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2rem;
    margin-bottom: 1.25rem;
  }
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.3125rem;
}

.headline__subtitle {
  color: #666666;
  padding: 0 20%;
  margin-bottom: 3.75rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 5%;
    margin-bottom: 3.125rem;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .benefits__item {
    padding: 0 0.4%;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.875rem;
  }
}
.benefits__item:before {
  content: url("../img/decor/separator.jpg");
  position: absolute;
  top: 21%;
  right: 1%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .benefit__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0.625rem 0 0;
  }
}

.benefit__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.125rem;
}
@media screen and (max-width: 768px) {
  .benefit__title {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__title {
    padding: 0;
    margin-bottom: 0.375rem;
  }
}

.benefit__desc {
  color: #666666;
  padding: 0 4%;
  line-height: 1.1875rem;
}
@media screen and (max-width: 480px) {
  .benefit__desc {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
  }
}
.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}

.benefit__icon {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefits-section {
  position: relative;
}
.benefits-section:before {
  content: url("../img/decor/vector.png");
  position: absolute;
  bottom: -1.5625rem;
  left: 19%;
}
@media screen and (max-width: 768px) {
  .benefits-section:before {
    left: 10%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section:before {
    bottom: -4.375rem;
    left: 10%;
  }
}

@media screen and (max-width: 768px) {
  .benefits-section__container {
    width: 99%;
  }
}
@media screen and (max-width: 480px) {
  .benefits-section__container {
    width: 95%;
  }
}

.offers-section {
  background: #F8FAF9;
  position: relative;
}
.offers-section:after {
  content: url("../img/decor/rectangle_2.png");
  position: absolute;
  bottom: -1.5625rem;
  right: 23%;
}
@media screen and (max-width: 768px) {
  .offers-section:after {
    right: 10%;
  }
}
@media screen and (max-width: 480px) {
  .offers-section:after {
    right: 10%;
  }
}
@media screen and (max-width: 768px) {
  .offers-section {
    min-height: 62.5rem;
  }
}
@media screen and (max-width: 480px) {
  .offers-section {
    min-height: 50rem;
  }
}

.offer {
  display: block;
  max-width: 59.375rem;
}

.offer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: left;
}

.offer__image {
  content: "";
  background: url("../img/decor/beats2.png") center center/50% no-repeat;
  /*position: absolute;
  width: rem(450px);
  height: rem(450px);
  border-radius: 50%;*/
}

.gear {
  width: 5.625rem;
  height: 5.625rem;
}

.gear-icon {
  width: 5.625rem;
  height: 5.625rem;
  fill: #666666;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.625rem 2.625rem;
  margin-bottom: 0.9375rem;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 5.25rem;
  height: 5.25rem;
  background: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -4.0625rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    margin-bottom: 2rem;
    padding: 3.75rem 1.625rem 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display {
    margin-bottom: 2rem;
    padding: 3.75rem 1.625rem 2.5rem;
  }
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reviews__avatar {
  height: 16.5625rem;
  width: 15.875rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    height: 8.75rem;
    width: 8.625rem;
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    height: 8.125rem;
    width: 8.125rem;
    margin-bottom: 1.125rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 27%;
     object-position: 27%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
  padding-top: 1.875rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
    padding-top: 0;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.625rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 1rem;
  }
}

.reviews__text {
  color: #666666;
  max-width: 28.75rem;
  margin-bottom: 2.375rem;
  line-height: 19px;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: 1rem;
    max-width: none;
  }
}

.reviews__author {
  font-weight: bold;
  font-size: 1.125rem;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.625rem;
  height: 4.625rem;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 0.375rem;
  margin-bottom: 3.875rem;
}
.interactive-avatar__active {
  border-color: #E01F3D;
}
.interactive-avatar:last-child {
  margin-right: 0;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20%;
     object-position: 20%;
}

.order-section {
  background: url("../img/bg/object.png") center bottom/cover no-repeat;
  color: #FFFFFF;
}

@media screen and (max-width: 480px) {
  .order-section__title {
    margin-bottom: 2.1875rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.5625rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6875rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.875rem;
  }
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .form__title {
    margin-bottom: 0.25rem;
  }
}
@media screen and (max-width: 768px) {
  .form__title {
    margin-bottom: 0.125rem;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.125rem 0.75rem;
  border: solid 3px transparent;
  border-radius: 0.25rem;
  background-color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4375rem 0.75rem;
  }
}
@media screen and (max-width: 480px) {
  .form__input {
    padding: 0.375rem 0.75rem;
  }
}
.form__input:focus {
  border: 0.1875rem solid #E01F3D;
  outline: none;
}
.form__input--error {
  border: 2px solid #E01F3D;
  outline: none;
}
.form__input-textarea {
  height: 9.875rem;
  resize: none;
  margin-bottom: 1.125rem;
}
@media screen and (max-width: 768px) {
  .form__input-textarea {
    height: 5.5rem;
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .form__input-textarea {
    height: 5.125rem;
    margin-bottom: 0.25rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__btns {
  margin-top: 1.875rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .form__btns {
    margin-top: 1.125rem;
    -webkit-transform: translateX(0.625rem);
            transform: translateX(0.625rem);
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible:before {
  background: url("../img/icons/checkmark.png") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
}
.radio__visible:before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background-color: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.radio__title {
  color: #FFFFFF;
  padding: 0 1rem 1.3125rem 0.625rem;
}
@media screen and (max-width: 768px) {
  .radio__title {
    padding: 0 1rem 1.75rem 0.625rem;
    margin-right: 0.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .radio__title {
    padding: 0 1rem 1.75rem 0.625rem;
  }
}

.map-section {
  min-height: 40.9375rem;
}

.footer {
  min-height: 5.625rem;
  background: #FFFFFF;
  padding: 1.25rem 0;
}
@media screen and (max-width: 768px) {
  .footer {
    min-height: 6.25rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    min-height: 9.375rem;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__contacts {
  display: block;
  font-weight: normal;
  font-size: 1.125rem;
}

.footer__contacts-place {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
}
@media screen and (max-width: 768px) {
  .footer__contacts-place {
    font-size: 1.375rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__contacts-place {
    font-size: 1.125rem;
  }
}

.footer__phone {
  font-family: Play;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 21px;
  padding-top: 0.25rem;
}
@media screen and (max-width: 768px) {
  .footer__phone {
    font-size: 1.125rem;
    color: #E01F3D;
  }
  .footer__phone-icon {
    fill: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .footer__phone {
    padding: 0.75rem 0 1.25rem;
    font-size: 1rem;
    color: #292929;
  }
  .footer__phone-icon {
    fill: #292929;
  }
}

.fixed-menu {
  position: fixed;
  top: 35%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.75rem;
}
.fixed-menu__item-active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item-active .fixed-menu__link:before {
  background: #E01F3D;
}

.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.5625rem;
  height: 0.5625rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.socials {
  position: relative;
  right: -2.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__item {
  margin-right: 0.625rem;
}
@media screen and (max-width: 480px) {
  .socials__item {
    margin-right: 0.875rem;
  }
}
.socials__item:nth-last-child(1) {
  margin-right: 0;
}
.socials__icon {
  height: 1.875rem;
  width: 1.875rem;
  fill: #B3B3B3;
}
.socials__icon:hover {
  fill: #292929;
}
@media screen and (max-width: 768px) {
  .socials__icon {
    height: 2.125rem;
    width: 2.125rem;
  }
}
@media screen and (max-width: 480px) {
  .socials__icon {
    height: 1.5rem;
    width: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .socials {
    right: 4%;
  }
}
@media screen and (max-width: 480px) {
  .socials {
    right: 0;
  }
}