$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//colours
$white: #FFFFFF;
$whitesmoke: #F5F5F5;
$whitegrey:#F8FAF9;
$greyblue: #F2F5F4;
$red: #E01F3D;
$darkred: #CA1B36;
$grey: #666666;
$lightgrey: #B3B3B3;
$black: #292929;
$ash: #333537;

@import "media";

//z-indexes

$z-fixed-menu: 100;

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Play:wght@400;700&display=swap');
@import "layout";

//components
@import "components/hero";
@import "components/header";
@import "components/logo";
@import "components/menu";
@import "components/phone-number";
@import "components/hamburger";
@import "components/overlay";
@import "components/features";
@import "components/feature";
@import "components/btn";
@import "components/section";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/benefits-section";
@import "components/offers-section";
@import "components/offers";
@import "components/offer";
@import "components/spec";
@import "components/reviews";
@import "components/order-section";
@import "components/form";
@import "components/radio";
@import "components/map-section";
@import "components/footer";
@import "components/fixed-menu";
@import "components/socials";
@import "components/team";
@import "components/modal";