.offer {
  max-height: rem(950px);
}

.offer__container {
  display: flex;
  justify-content: space-between;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.offer__image-box {
  width: 48%;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  padding-top: rem(30px);

  @include tablets {
    width: 42%;
    margin-bottom: rem(44px);
  }

  @include phones {
    width: 66%;
    margin-bottom: rem(25px);
  }
}

.offer__col {
  width: 45%;

  @include tablets {
    width: 84%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  @include phones {
    width: 90%;
  }
}

.offer__specs {
  margin-bottom: 25px;
  display: inline-block;
  position: relative;

  &:hover {
    .offer__specs-list {
      left: 100%;
      opacity: 1;
    }
  }

  @include tablets {
    display: none;
  }
}

.offer__specs-list {
  position: absolute;
  left: rem(-9999px);
  top: 0;
  padding: rem(28px) rem(24px) rem(41px) rem(28px);
  background: #D5D5D5;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  opacity: 0;
  max-height: rem(294px);
  min-width: rem(273px);
}

.offer__gear-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: none;
  background: #9A9A9A;
  border-radius: 4px;

  @include tablets {
    display: none;
  }
}

.offer__gear-icon {
  width: rem(42px);
  height: rem(42px);
  fill: $white;
}

.offer__spec-item {
  margin-bottom: rem(28px);

  &:last-child {
    margin-bottom: 0;
  }
}

.offer__title {
  font-weight: bold;
  font-size: rem(36px);
  line-height: rem(42px);
  color: $black;
  text-transform: uppercase;
  margin-bottom: rem(24px);

  @include tablets {
    font-size: rem(30px);
    margin-bottom: rem(10px);
  }

  @include phones {
    font-size: rem(28px);
    line-height: rem(32px);
    margin-bottom: rem(10px);
  }
}

.offer__desc {
  line-height: rem(19px);
  color: $grey;
  padding-right: 15%;
  margin-bottom: rem(25px);

  @include tablets {
    padding: 0;
    margin-bottom: rem(32px);
  }

  @include phones {
    padding: 0;
    margin-bottom: rem(25px);
  }
}

.offer__features {
  display: flex;
  margin-bottom: rem(24px);

  @include tablets {
    text-align: left;
    padding-left: rem(72px);
    padding-right: 0;
  }

  @include phones {
    margin-bottom: rem(14px);
  }
}

.offer__feature {
  margin-right: rem(86px);

  &-value {
    font-size: rem(18px);
    font-weight: bold;
  }

  @include tablets {
    margin-right: rem(88px);
  }
}

.offer__footer {
  display: flex;
  align-items: center;
}

.offer__price {
  font-size: rem(36px);
  line-height: rem(60px);
  margin-right: rem(13px);

  @include tablets {
    font-size: rem(40px);
    margin-right: rem(50px);
  }

  @include phones {
    font-size: rem(32px);
    margin-right: rem(23px);
  }
}