.reviews-section {
  position: relative;
  
  &:after {
    content: url("../img/decor/ellipse.png");
    position: absolute;
    bottom: rem(-25px);
    left: 5%;
    z-index: 2;

    @include tablets {
      left: 10%;
    }

    @include phones {
      left: 10%;
    }
  }
}