.team {
  display: flex;
  justify-content: space-between;

  @include tablets {
    padding: 0 rem(20px);
    flex-direction: column;
    align-items: center;
  }
}

.team--desktop {
  @include tablets {
    display: none;
  }
}

.team--desktop .team__content {
  position: absolute;
  top: 100%;
}

.team--mobile {
  display: none;

  @include tablets {
    display: flex;

    .team__member-photo {
      margin-top: rem(5px);
      min-height: rem(290px);
    }
  }

  @include phones {
    display: flex;

    .team__member {
      justify-content: center;
      max-height: rem(180px);
    }

    .team__member-photo {
      margin-top: rem(9px);
      min-height: rem(180px);
    }
  }
}

.team__item {
  flex: 1;
  text-align: center;
  position: relative;
  margin-right: rem(20px);
  max-width: rem(220px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
    max-width: rem(236px);
  }

  @include phones {
    max-width: rem(330px);
  }

  &.active {
    .team__title::after {
      transform: rotate(180deg);
    }
  }
}

.team__member {
  height: rem(290px);
  margin-bottom: rem(25px);

  @include phones {
    display: flex;
  }
}

.team__title {
  color: $black;
  display: inline-flex;
  font-weight: bold;
  font-size: rem(18px);
  margin-bottom: rem(11px);
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;

  @include tablets {
    font-size: rem(19px);
    line-height: rem(25px);
    margin-bottom: rem(21px);
  }

  @include phones {
    margin-bottom: rem(5px);
  }

  &::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: rem(7px) rem(4px) 0 rem(4px);
    border-color: $red transparent transparent transparent;
    margin-top: 2px;
    margin-left: rem(4px);
    transition: transform .3s;

    @include tablets {
      border-color: #365A49 transparent transparent transparent;
    }

    @include tablets {
      border-color: $red transparent transparent transparent;
    }
  }
}

.team__content {
  overflow: hidden;
  transition: height .3s;
  height: 0;
}

.team__occupation {
  margin-bottom: rem(4px);

  @include tablets {
    font-size: rem(18px);
    font-weight: bold;
    margin-top: rem(40px);
  }

  @include phones {
    margin-top: 0;
    margin-bottom: rem(9px);
  }
}

.team__desc {
  color: $grey;

  @include phones {
    padding: 0 rem(30px);
    margin-bottom: rem(7px);
  }
}