.logo {
  margin-right: rem(37px);
  display: block;
  z-index: 16;
  left: 0;

  &__icon {
    height: rem(40px);
    width: rem(40px);
    fill: $red;
  }

  @include tablets {
    margin-left: rem(23px);
  }

  @include phones {
    margin-left: rem(10px);
  }
}