.menu {
  margin: 0 rem(30px) 0 0;
  padding-top: rem(7px);
  display: flex;

  @include tablets {
    max-width: rem(973px);
    height: 100%;
    width: 100%;
    background: $ash;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    transition: left .3s, opacity .3s;

    &--active {
      left: 0;
      opacity: 1;
    }
  }  
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: normal;
  font-size: rem(18px);

  @include tablets {
    font-family: "Play", sans-serif;
    font-size: rem(36px);
    line-height: rem(72px);
    display: block;
    text-align: center;
    margin-top: 20%;
  }
}

.menu__item {
  margin-right: rem(27px);
  margin-bottom: rem(10px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
    margin-bottom: rem(6px);
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;

  @include tablets {
    font-size: rem(36px);
  }
}