.benefits-section {
  position: relative;

  &:before {
    content: url("../img/decor/vector.png");
    position: absolute;
    bottom: rem(-25px);
    left: 19%;

    @include tablets {
      left: 10%;
    }

    @include phones {
      bottom: rem(-70px);
      left: 10%;
    }
  }
}

.benefits-section__container {
  @include tablets {
    width: 99%;
  }

  @include phones {
    width: 95%;
  }
}