.hamburger {
  position: absolute;
  display: none;
  right: 3%;
  cursor: pointer;
  transition: all 0.4s;

  &-icon {
    width: rem(30px);
    height: rem(30px);
  }

  @include tablets {
    display: flex;
  }

  @include phones {
    display: flex;
  }
}

.hamburger-btn {
  border: none;
  background: transparent;
}