.header {
  display: flex;
  align-items: flex-start;
  padding-right: rem(26px);
  z-index: 10;

  @include tablets {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: rem(24px) 2.5% rem(20px)0;
    background: $whitesmoke;
  }
}

.phone-number.header__phone-number {
  margin-top: rem(5px);

  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }
}
