.hero {
  background-color: $whitesmoke;
  height: 100vh;
  min-height: rem(870px);
  color: #292929;
  padding: rem(24px) 0 rem(50px);
  position: relative;

  &:after {
    content: url("../img/decor/rectangle_1.png");
    position: absolute;
    bottom: rem(-25px);
    right: 11%;

    @include tablets {
      right: 10%;
    }

    @include phones {
      right: 10%;
    }
  }

  @include tablets {
    min-height: rem(1070px);
  }

  @include phones {
    min-height: rem(840px);
  }
}

.hero__container {
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: url("../img/content/beats.png") right center / 52% auto no-repeat;
  background-position-x: 95%;
  background-position-y: 68%;

  @include tablets {
    background: none;
  }
}

.hero__title-section {
  width: 40%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:before {
      content: "";
      background: url("../img/content/beats.png") center center / contain no-repeat;
      width: rem(325px);
      height: rem(325px);
      margin-bottom: rem(30px);
    }
  }

  @include phones {
    flex: 0.98;
    &:before {
      width: rem(325px);
      height: rem(325px);
      margin-bottom: rem(50px);
    }
  }
}

.hero__icon-section {
  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }
}

.hero__main-title {
  font-weight: bold;
  font-size: rem(48px);
  line-height: 1.1;
  margin-bottom: rem(20px);
  text-transform: uppercase;

  @include tablets {
    font-size: rem(51px);
    margin-bottom: rem(5px);
    padding: 0 7%;
  }

  @include phones {
    font-size: rem(32px);
    margin-bottom: rem(14px);
    padding: 0 8%;
  }
}

.hero__title-desc {
  padding-right: 15%;
  font-weight: normal;
  font-size: rem(21px);
  margin-bottom: rem(35px);

  @include tablets {
    padding: 0 28%;
    margin-bottom: rem(20px);
  }

  @include phones {
    font-family: "Play", sans-serif;
    font-size: rem(18px);
    line-height: 20px;
    padding: 0 8%;
    margin-bottom: rem(27px);
    max-width: 395px;
  }
}