.logo {
  margin-right: rem(37px);
  display: block;
  z-index: 16;
  left: 0;

  @include tablets {
    left: 3%;
  }

  @include phones {
    left: 3%;
  }

  &__icon {
    height: rem(40px);
    width: rem(40px);
    fill: $red;
  }
}