.offers-section {
  background: $whitegrey;
  position: relative;

  &:after {
    content: url("../img/decor/rectangle_2.png");
    position: absolute;
    bottom: rem(-25px);
    right: 23%;

    @include tablets {
      right: 10%;
    }

    @include phones {
      right: 10%;
    }
  }

  @include tablets {
    min-height: rem(1000px);
  }

  @include phones {
    min-height: rem(800px);
  }
}