.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offers-slider {
  display: flex;
  justify-content: center;
}

.offers-slider__arrows {
  display: flex;
  align-items: center;
}

.offers-slider__arrow {
  &-left {
    justify-content: flex-start;
    height: rem(30px);
    width: rem(14px);
    fill: $black;
  }

  &-right {
    justify-content: flex-end;
    height: rem(30px);
    width: rem(14px);
    fill: $black;
  }
}