.offers {
  display: flex;
}

.offers-slider {
  position: relative;

  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
  }
}

.offers-slider__arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50);
  width: 100%;

  @include tablets {
    top: 28%;
    width: 82%;
  }

  @include phones {
    top: 25%;
    width: 100%;
  }
}

.offers-slider__arrow-icon {
  height: rem(40px);
  width: rem(24px);
  stroke: $black;
  stroke-width: rem(2px);
  fill: transparent;
}

.offers-slider__arrow {
  position: absolute;

  &--left {
    left: rem(-50px);

    @include tablets {
      left: 22%;
    }

    @include phones {
      left: -1%;
    }
  }

  &--right {
    right: 0;

    @include phones {
      right: -1%;
    }
  }
}