.product {
  display: flex;
}

.product__title {
  position: relative;
  height: 100%;
  width: rem(100px);
}

.product__plank {
  .grey {
    background-color: $grey;
  }

  .black {
    background-color: $black;
  }

  .red {
    background-color: $red;
  }
}

.product__content {
  position: relative;
  //width: rem(524px);
  width: 0;
  background: $ash;
  opacity: 0.9;
  overflow: hidden;
  transition: .7s;
}

.product__container {
  padding: rem(40px) rem(73px) rem(45px) rem(26px);
}

.product__btn-close {
  position: absolute;
  top: rem(20px);
  right: rem(25px);
  border: none;
  background: transparent;
}