.products {
  position: relative;
  background: url(../../img/content/girl.png) center center/ 134% auto no-repeat;
  background-position-x: 100%;
  background-position-y: 5%;
  color: $white;
}

.products__title {
  position: absolute;
  top: 21%;
  left: 7%;
  font-size: 47px;
  padding-left: rem(8px);
  padding-top: rem(4px);
}

.products__item {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

