.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  &--checkbox {
    .radio__visible {
      border-radius: rem(4px);

      &:before {
        background: url("../img/icons/checkmark.png") center center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }
}

.radio__visible {
  width: rem(25px);
  height: rem(25px);
  position: relative;
  border-radius: 50%;
  background: $white;

  &:before {
    content: "";
    width: rem(12px);
    height: rem(12px);
    background-color: $red;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio__title {
  color: $white;
  padding: 0 rem(16px) rem(21px) rem(10px);

  @include tablets {
    padding: 0 rem(16px) rem(28px) rem(10px);
    margin-right: rem(9px);
  }

  @include phones {
    padding: 0 rem(16px) rem(28px) rem(10px);
  }
}