.btn {
  font-weight: bold;
  font-size: 16px;
  color: $red;
  padding: 18px 41px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  line-height: 1;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background: $red;
    color: $white;
    border-radius: 100px;
  }

  &-dark {
    color: $darkred;
  }

  &-dark:hover {
    background: $darkred;
    color: $white;
    border-radius: 100px;
  }

  &-reset_white {
    color: $white;
    background: transparent;
    text-transform: none;
    font-weight: normal;
    border: none;
    padding: 18px 18px;
  }

  &-reset_white:hover {
    border: none;
    background: none;
    color: $red;
  }
}