.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: rem(20px);
}

.headline__subtitle {
  color: $grey;
  padding: 0 20%;
  margin-bottom: rem(60px);

  @include phones {
    padding: 0 5%;
    margin-bottom: rem(50px);
  }
}